* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

$blue: #1764C2;
$Green: #29B384;
$Black: #082242;
$gray: #40474F;
$gray_bright: #ACB7C5;
$White: #F7F7F8;
// $linear: linear-gradient(45deg, rgba(41,179,132,1) 0%, rgba(23,100,194,1) 100%);
$linear: linear-gradient(232.83deg, #165EBF -13.52%, #29B384 76.05%);

@mixin h1() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin h2() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin h3() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin h4() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin h5() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin text() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin text-2() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin button-text() {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.new-p {
  @include h1;
}

.new-p-1 {
  @include h2;
}

.new-p-2 {
  @include h3;
}

.new-p-3 {
  @include h4;
}

.new-p-4 {
  @include h5;
}

.test-box {
  width: 120px;
  height: 120px;
  margin: 100px;
  background: $linear;
  border-radius: 8px;
}
