* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #000;
  font-size: 14px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 24px 0;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header ul {
  align-items: center;
  text-decoration: none;
  display: flex;
  margin-right: 140px;
}

.header li a {
  margin-right: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.header img {
  margin-left: 152px;
}

.get-template {
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 9px 20px 13px 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.iceland {
  background: url('../img/iceland.png') no-repeat center top / cover;
  padding-bottom: 40px;
  padding-top: 466px;
}

.japan {
  background: url('../img/japan.png') no-repeat center top / cover;
  padding-bottom: 41px;
  padding-top: 260px;
  padding-left: 10px;
  margin-top: 92px;
}

.costa-rica {
  background: url('../img/costa-rica.jpg') no-repeat center top / cover;
  padding-bottom: 41px;
  padding-top: 260px;
  padding-left: 10px;
}

.nepal {
  background: url('../img/nepal.jpg') no-repeat center top / cover;
  padding-bottom: 41px;
  padding-top: 260px;
  padding-left: 10px;
}

.text {
  width: 600px;
  margin: 0 auto;
}

.banner-text {
  width: 298px;
  margin-left: auto;
  text-align: left;
  margin-right: 52px;
  margin-bottom: 204px;
}

.banner-text * {
  text-align: left;
}

.text h1,
h5,
p {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}

h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}

h1 {
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  color: #FFFFFF;
}

.description-bar {
  display: flex;
  width: 312px;
  margin-top: 14px;
  margin-left: auto;
}

.description-bar-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFF;
  margin-right: 16px;
  margin-left: 6px;
}

.description-bar img {
  height: 16px;
}

.what-we-do {
  margin-top: 113px;
}

.what-we-do h3 {
  margin-top: 15px;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.collage {
  margin-top: 36px;
  padding: 0;
  padding: 0px 120px 0 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collage li {
  width: 576px;
  height: 600px;
  margin: 8px;
  position: relative;
}

.card {
  padding: 0 30px;
  position: absolute;
  bottom: 5%;
}

.workspace {
  background: url('../img/workspace.jpg') no-repeat center top / cover;
}

.architecture {
  background: url('../img/architecture.jpg') no-repeat center top / cover;
}

.forest {
  background: url('../img/forest.jpg') no-repeat center top / cover;
}

.deer {
  background: url('../img/deer.jpg') no-repeat center top / cover;
}

.sweden {
  background: url('../img/sweden.jpg') no-repeat center top / cover;
}

.collage p {
  text-align: left;
}

.collage-header {
  text-align: left;
  margin-bottom: 10px;
}

.white-button {
  margin-top: 20px;
  display: flex;
  width: 143px;
  background-color: #FFF;
  border-radius: 15px;
  align-items: center;
  transition: all 0.1s ease;
}

.white-button:hover {
  background-color: #C0C0C0;
  border: solid;
}

.black-cirkle {
  width: 32px;
  height: 32px;
  border-radius: 15px;
  margin: 5px;
  background-color: #000;
}

.white-button a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
}

.tools {
  display: flex;
}

.tools li {
  width: 50%;
  height: 540px;
}

.sweden * {
  margin-top: 242px;
}

.black-card-text {
  padding-top: 173px;
  width: 514px;
  margin: 0 auto;
}

.black-card * {
  text-align: left;
}

.past-clients {
  margin-top: 113px;
  margin-bottom: 140px;
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #FFF;
  margin-bottom: 14px;
}

.past-clients h3 {
  margin-top: 15px;
  margin-bottom: 82px;
}

.past-clients-logo {
  align-items: center;
  width: 1076px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.past-clients-logo img {
  margin: 10px 0 10px 0;
}

.help {
  padding-bottom: 100px;
  padding-top: 113px;
}

.help h3 {
  margin-top: 15px;
  margin-bottom: 22px;
}

.help>.white-button {
  margin: 0 auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 36px 10%;
}

.footer {
  padding: 102px 0;
}

.footer-info img {
  margin-bottom: 20px;
}

.footer ul {
  display: flex;
  justify-content: space-between;
}

.footer li {
  display: flex;
  margin-right: 35px;
  margin-left: 20px;
  flex-direction: column;
}

.footer li p {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 10px;
}

.footer li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  margin-bottom: 9px;
}

.line {
  height: 2px;
  background-color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}

.call {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  padding-bottom: 20px;
}

.call-block {
  padding: 36px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.slider {
  width: 31%;
  background-color: #fff;
  border-radius: 15px;
  padding: 11px 6px;
  height: 32px;
}

.black-button {
  width: 13.7%;
  height: 30px;
  background-color: #000;
  margin-left: auto;
  border-radius: 10px;
}

.add-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
}

.add-info h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
  text-align: left;
}

.social-networks {
  width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show {
  display: block;
}